<h3>忘记密码?</h3>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "把重置密码的链接发至我的注册邮箱" %></div>
<% end %>

<%= render "links" %>