<%
posts = Post.approved.find(:all,
  :joins => :category,
  :conditions => ["categories.id = ? or categories.parent_id = ? ",category_id,category_id],
  :limit => limit
)
%>

<h3><a href="/categories/<%=category_id%>"><%=Category.find(category_id).name%></a></h3>
<% if posts.length && posts.length >0 %>
  <ul class="index-posts-narrow">
    <%posts.each do |p|%>
      <li class="cat-post-item">

        <%=link_to p.title,p,:class=>"textcut14",:target=>"_blank"%>
        <% if islock(p) %>
          <span class="lock"></span>
        <% end %>
        <span class="post-date"><%=p.created_at.strftime("%Y-%m-%d")%></span>
      </li>
    <%end%>
    <% if  posts.length == limit %>
      <li class="more"><a href="/categories/<%=category_id%>">更多...</a></li>
    <%end%>
  </ul>
<%end%>