<div class="home-row">
  <%= render :partial =>"index_posts_list_with_slider.html",:locals =>{:category_id =>1,:limit =>6}%>
</div>

<div class="home-row">
  <%= render :partial =>"index_posts_list_with_slider.html",:locals =>{:category_id =>9,:limit =>6}%>
</div>

<div class="home-row">
  <div class="index-row-column">
    <%= render :partial =>"index_posts_list_without_slider.html",:locals =>{:category_id =>15,:limit =>6}%>
  </div>

  <div class="index-row-column">
    <%= render :partial =>"index_posts_list_without_slider.html",:locals =>{:category_id =>20,:limit =>6}%>
  </div>

</div>


<div class="home-row">
  <%= render :partial =>"index_posts_list_with_slider.html",:locals =>{:category_id =>27,:limit =>6}%>
</div>

<div class="home-row">
  <%= render :partial =>"index_posts_list_with_slider.html",:locals =>{:category_id =>31,:limit =>6}%>
</div>