<script type="text/javascript" >
  $(function() {
    $( "#start" ).datepicker();
    $( "#end" ).datepicker();
  });
</script>

<fieldset>
  <legend><h3>选择统计时间段</h3></legend>
  <%=form_tag('/posts/period', :method =>"get")%>
  开始日期:<input type="text" id="start" name="post[start]" />
  结束日期:<input type="text" id="end" name="post[end]" />
  统计条件：<select name="condition">
    <option value="">请选择..</option>
    <option value="org">科组</option>
    <option value="grade">工会小组</option>
    <option value="account">账号</option>
    <option value="author">作者</option>
  </select>
  <div><%= submit_tag '确定' %></div>
</form>
</fieldset>

<%if @result && @result.length > 0 %>
  <div>统计时间：<span class="time-period"><%=params[:post][:start]%></span>至<span class="time-period"><%=params[:post][:end]%></span></div>

  <table cellpadding="0" cellspacing="0" class="table-striped table-bordered table">
    <tr>
      <th><%=@result[0][0]%></th>
      <th>时间段内发表文章数目</th>
    </tr>
    <tbody>
      <% (1..@result.length-1).each do |counter| %>
        <tr>
          <td class="spec period-first-col"><%= @result[counter][0] %></td>
          <td><%= @result[counter][1]%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%else%>
  请选择时间段和统计条件
<% end %>