<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "父分类" %><br />
    <%= f.select(:parent_id,Category.all.collect {|c| [ c.name, c.id ] },{:include_blank => true}) %>
  </div>
  <div class="field">
    <%= label_tag "名称" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "状态" %><br />
    <%= f.select(:status,status_list) %>
  </div>
  <div class="actions">
    <%= f.submit "确定" %>
  </div>
<% end %>
